# This file contains the learnings of Pandas

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame({'Company':['Intellect','Microsoft','Google','Infosys','Wipro'],
                  'Place':['Chennai','Bangalore','Bangalore','Hyderabad','Chennai'],
                  'Sales':[100,230,120,350,210]},
                 index=[1,2,3,4,5])
df

     Company      Place  Sales
1  Intellect    Chennai    100
2  Microsoft  Bangalore    230
3     Google  Bangalore    120
4    Infosys  Hyderabad    350
5      Wipro    Chennai    210

In [3]:
df

     Company      Place  Sales
1  Intellect    Chennai    100
2  Microsoft  Bangalore    230
3     Google  Bangalore    120
4    Infosys  Hyderabad    350
5      Wipro    Chennai    210

In [8]:
df1 = pd.DataFrame(np.random.randn(5,4), index = ['A','B','C','D','E'], columns = list('WXYZ'))
df1

          W         X         Y         Z
A  0.643666 -0.376776  1.284338 -1.328557
B -0.220096  1.302194 -0.491217 -0.973715
C -0.164041 -1.110588  0.585322  2.639828
D -0.147012 -0.835257 -2.329810 -0.505465
E -1.571066  0.124097  0.910663  0.056512

In [9]:
df1[(df1>0) & (df1<1)]

          W         X         Y         Z
A  0.643666       NaN       NaN       NaN
B       NaN       NaN       NaN       NaN
C       NaN       NaN  0.585322       NaN
D       NaN       NaN       NaN       NaN
E       NaN  0.124097  0.910663  0.056512

In [13]:
arr = np.array([1,2,3,4,5])
df2 = pd.Series(arr, index = ['A','B','C','D','E'])
df2

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [15]:
df1.merge(df2.to_frame(), left_index=True, right_index=True)

          W         X         Y         Z  0
A -0.519292  0.032653  0.702931 -0.253984  1
B -0.416396  0.224156 -0.538986 -0.610980  2
C  0.601622  0.123763  0.271236  0.462918  3
D  1.700305 -0.023263  0.422624  0.012652  4
E -0.502851  0.138739 -1.198510 -0.533756  5

In [16]:
df1.merge(df2.rename('new'), left_index=True, right_index=True)

          W         X         Y         Z  new
A -0.519292  0.032653  0.702931 -0.253984    1
B -0.416396  0.224156 -0.538986 -0.610980    2
C  0.601622  0.123763  0.271236  0.462918    3
D  1.700305 -0.023263  0.422624  0.012652    4
E -0.502851  0.138739 -1.198510 -0.533756    5

#### Merging Series and DataFrame to another DataFrame

In [21]:
# Create a data frame with random values
df1 = pd.DataFrame(np.random.randn(5,4), index = ['A','B','C','D','E'], columns = list('WXYZ'))

# Create a new series with index (a.k.a., row) names same as that of above
arr = np.array([1,2,3,4,5])
df2 = pd.Series(arr, index = ['A','B','C','D','E']).rename('new')

# Merge the newly created series to the right of the dataframe, and also rename the new column name as 'new'
df1.merge(df2.to_frame(), left_index=True, right_index=True)

          W         X         Y         Z  new
A  0.189827 -0.355363 -0.739496 -0.147047    1
B  0.595862 -0.884736  2.338525 -0.719088    2
C -0.539085 -0.926968 -1.289536  0.665916    3
D -2.682637 -0.297122  0.486973  0.323577    4
E -0.546849 -0.526596 -0.498766  0.276233    5

In [28]:
# Create a data frame with random values
df1a = pd.DataFrame(np.random.randn(5,4), index = ['A','B','C','D','E'], columns = list('WXYZ'))

# Create another data frame with randome integres, and index (a.k.a., row) names same as that of above
df2a = pd.DataFrame(np.random.random_integers(1,5,size=(5,4)), index = ['A','B','C','D','E'], columns = ['NEW_W', 'NEW_X', 'NEW_Y', 'NEW_Z'])

# Merge the newly created series to the right of the dataframe, and also rename the new column name as 'new'
df1a.merge(df2a, left_index=True, right_index=True)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:5: DeprecationWarning: This function is deprecated. Please call randint(1, 5 + 1) instead
  """

          W         X         Y         Z  NEW_W  NEW_X  NEW_Y  NEW_Z
A -0.384199  0.635648  0.126235  1.343519      2      4      2      1
B -0.436824 -0.696928 -1.521071  0.177732      1      4      1      4
C  1.104389  0.513972 -0.794295 -1.120238      2      1      4      1
D  1.155280  1.935683 -0.534542  0.253253      4      5      2      3
E -1.211092  1.799780  0.425570  0.649317      5      4      5      5

In [11]:
# Create a data frame with random values
df1a = pd.DataFrame(np.random.randn(5,4), index = ['A','B','C','D','E'], columns = list('WXYZ'))

# Create another data frame with randome integres, and index (a.k.a., row) names same as that of above
df2a = pd.DataFrame(np.random.randint(1,5,size=(5,4)), index = ['A','B','C','D','E'], columns = ['NEW_W', 'NEW_X', 'NEW_Y', 'NEW_Z'])

# Merge the newly created series to the right of the dataframe, and also rename the new column name as 'new'
df1a.merge(df2a, left_index=True, right_index=True)

          W         X         Y         Z  NEW_W  NEW_X  NEW_Y  NEW_Z
A  0.725222 -1.164274  0.387873  0.931379      3      2      4      1
B -0.253219  1.880980  1.291439  0.069635      3      3      4      4
C -1.590764  1.139398 -1.092872  0.083208      1      3      3      4
D  0.178000  0.719098  1.011151  1.808591      2      4      2      4
E  0.210673 -0.176989  1.999899 -1.985767      2      3      4      1

In [1]:
train_delim_dictionary = {'Concrete': 1,
 'Steel': 1,
 'Wood': 1,
 'FR': 2,
 'JM': 2,
 'Brick': 2,
 'Mortar': 2,
 'non combustible  Mainly ISO 4': 2,
 'ISO 3 ISO 6': 2,
 'Mainly ISO 4': 2,
 'some IS0 2  ISO 3  ISO 6': 2,
 'MNC   Concrete': 1,
 'stone facade  interior steel frame wood': 1,
 'Wood frame': 1,
 'concrete block stucco exterior wall': 1,
 'brick veneer concrete slab': 1,
 'Wood Frame Concrete slab': 1,
 'brick veneer exterior walls.': 1,
 'Block': 4,
 'brick frame': 4,
 'flat roofs Bay doors.': 4,
 'ISO Class 4   Masonry Non Combustible   Reinforced concrete frame  concrete block lightweight concrete floor.  Slightly raised concrete slab foundations': 2,
 'footings.': 2,
 'Reinforced concrete frame  concrete block lightweight concrete floor.  Slightly raised concrete slab foundations': 4,
 'Stone': 1,
 'Stucco Veneer': 1,
 'Hardie Siding': 1,
 'Painted Stucco stacked field stones': 1,
 'Stucco Brick Hardie Board': 1,
 'Concrete Masonry Units': 1,
 'CMU': 1,
 'Reinforced concrete': 1,
 'Stucco': 1,
 'Brick veneer': 1,
 'Post tensioned concrete floors reinforced concrete columns': 1,
 'Concrete steel': 1,
 'Brick veneer vinyl siding': 1,
 'Brick Veneer vinyl siding': 1,
 'Vinyl siding': 1,
 'CMU wood frame interior wall': 1,
 'Stucco over CMU': 1,
 'Brick Veneer': 1,
 'Fire Resistive construction': 1,
 'Walls: Concrete block reinforced\nExterior Wall Finished: Stucco paint': 1,
 'Fire Resistive': 1,
 '100%  masonry  reinforced concrete   16 inches thick panels in masonry wall': 1,
 'Modified Fire Resistive': 3,
 '100% Structural Metal Wall members': 3,
 'cementitious mixture': 3,
 '1 hr fire rating': 3,
 'Stucco Exterior': 1,
 'Painted stucco wall the exterior 1a combination stucco aluminum siding in the courtyard': 1,
 'painted wood rafter talls fascia board': 1,
 'Concrete Block': 1,
 'Wood Frame': 1,
 'Vinyl Siding': 1,
 'CMU exterior wall  steel stud frame interior walls': 1,
 'Exterior   Brick Veneer  Hardie Plank Fiber Cement': 1,
 'Steel Frame Structure': 1,
 'concrete block': 1,
 'stucco': 1,
 'Steel columns': 1,
 'beams': 1,
 'light gauge steel stud wall': 1,
 'corrugated steel pan floors': 1,
 'concrete topping.': 1,
 'Main Bldg   reinforced concrete frame': 1,
 'masonry infill wall': 1,
 'brick veneer exterior Townhomes   wood frame': 1,
 'exterior facades  brick veneer': 1,
 'painted wood siding': 1,
 'Concrete slab': 1,
 'steel frame. Exterior Walls: faÃ§ade bldg is 1a combination stucco  vinyl': 1,
 'brick.': 1,
 'Steel Frame': 3,
 'Noncombustile': 3,
 'steel frame': 1,
 'Platform style wood frame construction  wood stud bearing wall supporting wood frame joisted upper level floor decks': 1,
 'lightweight concrete topping.  Exterior surfaces building are primarily finished': 1,
 '1a combination modular face brick painted fiber cement board siding': 1,
 'Class 1a  Steel': 1,
 'Glass': 1,
 'fireproof steel frame': 3,
 'glass curtain wall  metal deck BV facade': 3,
 'reinforeced concrete frame': 1,
 'glass curtain wall  metal decking BV FaÃ§ade': 1,
 'Steel Frame concrete tilt up panel': 3,
 'steel columns metal roof decking': 3,
 'structural  tilt up  precast  concrete  wall panels': 1,
 'interior stell colums metal decking': 1,
 'Fire Steel Frame  concrete metal decks': 1,
 'glass curtain wall BV faÃ§ade': 1,
 'curtain wall glass glazing panels faÃ§ade': 1,
 'reinforced concrete wall': 1,
 'steel frame brick facades': 1,
 'BV FaÃ§ade': 2,
 'Concrete Tilt Wall': 3,
 'Non combustible': 3,
 'metal decking Brick masonry faÃ§ade double glazed windows': 2,
 'Reinforced Conscrte': 3,
 'metal decking double glazed  curtain wall': 3,
 'Steel structure': 1,
 'brick veneer faÃ§ade': 1,
 'Metal': 3,
 'Steel Deck': 3,
 '1 Type': 3,
 '2 Type': 3,
 'MNC': 2,
 'Masonry': 1,
 'Non Combustible': 3,
 'F': 1,
 'R': 1,
 'Concrete Steel': 3,
 'Glass Panel Exterior': 3,
 'Concrete  Steel': 1,
 'timber roof': 2,
 'Metal Frame': 1,
 'Steel Frame  Masonry  Concrete Floor': 1,
 'Insulated Metal Studs': 1,
 'Post Tension Concrete Slab': 1,
 'Glass Fire Resistive': 1,
 'combustible': 1,
 'WOOD FRAME': 1,
 'MASONRY CONST': 2,
 'WOOD ROOF': 2}

In [2]:
from difflib import get_close_matches

In [12]:
get_close_matches("Type I B", train_delim_dictionary, cutoff=0.5)

['2 Type', '1 Type']

In [13]:
import re

In [ ]:
re_regex = '/|&|,|\||\(|\)'

In [17]:
re_regex = '(?:M|MM|MMM)?(?:C|CC|CCC|CD|D|DC|DCC|DCCC|CM)?(?:X|XX|XXX|XL|L|LX|LXX|LXXX|XC)?(?:I|II|III|IV|V|VI|VII|VIII|IX)?(\w)?$'

In [18]:
print(re.match(re_regex, "Type II B"))

None

In [19]:
print(re.match(re_regex, "II"))

<re.Match object; span=(0, 2), match='II'>

In [32]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [36]:
process.extract("Type II B", train_delim_dictionary.keys(), limit=2)

[('1 Type', 86), ('2 Type', 86)]

In [47]:
fuzz.ratio("Type I B", "2 Type")

57

In [51]:
fuzz.token_sort_ratio("Type II B", "2 Type")

67

In [26]:
fuzz.token_set_ratio("Type II B", "2 Type")

80

In [31]:
fuzz.token_set_ratio("Type II B", train_delim_dictionary.keys())

62

In [38]:
from difflib import SequenceMatcher as SM
s1 = "Type II B"
s2 = "1 Type"
SM(None, s1, s2).ratio()

0.5333333333333333

In [42]:
from fuzzyset import FuzzySet
fs = FuzzySet(train_delim_dictionary.keys())
fs.get("Type I B")

[(0.25, '1 Type'), (0.25, '2 Type')]

In [59]:
import spacy
import nltk

nlp = spacy.load('en_core_web_sm')

OSError: [E050] Can't find model 'en_core_web_sm'. It doesn't seem to be a shortcut link, a Python package or a valid path to a data directory.

In [58]:
patterns = [nlp(text) for text in train_delim_dictionary.keys()]

NameError: name 'nlp' is not defined